<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.AdminsMapper">
    <resultMap id="AdminsMapper" type="com.tencent.wxcloudrun.model.Admin">
        <id property="id" column="id" />
    </resultMap>

    <select id="viewAdmin" resultMap="AdminsMapper" parameterType="com.tencent.wxcloudrun.model.Admin">
        SELECT * FROM Administrators;
    </select>
</mapper>