<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.PrizesMapper">
    <resultMap id="PrizesMapper" type="com.tencent.wxcloudrun.model.Prizes">
        <id property="grade" column="grade" />
        <result property="num" column="num" />
    </resultMap>

    <select id="viewPrize" resultMap="PrizesMapper" parameterType="com.tencent.wxcloudrun.model.Prizes">
        SELECT * FROM Prizes WHERE grade > 0;
    </select>

    <update id="changeIfdraw">
        UPDATE Prizes SET num = #{ifdraw} WHERE grade = 0;
    </update>
    
    <select id="viewIfdraw" resultMap="PrizesMapper" parameterType="com.tencent.wxcloudrun.model.Prizes">
        SELECT * FROM Prizes WHERE grade = 0;
    </select>
</mapper>