<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.UsersMapper">
    <resultMap id="UsersMapper" type="com.tencent.wxcloudrun.model.User">
        <id property="id" column="id" />
        <result property="hit" column="hit"/>
        <result property="nick" column="nick"/>
        <result property="tel" column="tel"/>
        <result property="createdAt" column="createdAt" javaType="java.time.LocalDateTime" />
    </resultMap>

    <select id="getUser" resultMap="UsersMapper" parameterType="com.tencent.wxcloudrun.model.User">
        SELECT `id`, `hit`, `nick`, `tel`, `createdAt`
        FROM Users
        WHERE id = #{id}
    </select>
    
    <insert id="insertUser" parameterType="com.tencent.wxcloudrun.model.User">
        INSERT INTO Users(`id`) VALUES (#{id})
    </insert>

    <update id="updateUser" parameterType="com.tencent.wxcloudrun.model.User">
        UPDATE Users
        SET nick = #{nick}, tel = #{tel}
        WHERE id = #{id}
    </update>

    <update id="clearUser" parameterType="com.tencent.wxcloudrun.model.User">
        UPDATE Users
        SET hit = 0
    </update>

    <update id="awardUser" parameterType="com.tencent.wxcloudrun.model.User">
        UPDATE Users
        SET hit = #{hit}
        WHERE id = #{id}
    </update>

    <select id="viewUser" resultMap="UsersMapper" parameterType="com.tencent.wxcloudrun.model.User">
        SELECT * FROM Users;
    </select>

    <select id="selectUser" resultMap="UsersMapper" parameterType="com.tencent.wxcloudrun.model.User">
        SELECT * FROM Users WHERE hit > 0 ORDER BY hit;
    </select>
</mapper>