<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.UsersMapper">
    <resultMap id="UsersMapper" type="com.tencent.wxcloudrun.model.User">
        <id property="id" column="id" />
        <result property="qualification" column="qualification" />
        <result property="createdAt" column="createdAt" javaType="java.time.LocalDateTime" />
    </resultMap>

    <select id="getUser" resultMap="UsersMapper" parameterType="com.tencent.wxcloudrun.model.User">
        SELECT `id`, `join`, `createdAt`
        FROM Users
        WHERE id = #{id}
    </select>
    
    <insert id="insertUser" parameterType="com.tencent.wxcloudrun.model.User">
        INSERT INTO Users(`id`) VALUES (#{id})
    </insert>

    <update id="updateUser" parameterType="com.tencent.wxcloudrun.model.User">
        UPDATE Users
        SET join = 1
        WHERE id = #{id}
    </update>
    <select id="viewUser" resultMap="UsersMapper" parameterType="com.tencent.wxcloudrun.model.User">
        SELECT * FROM Users;
    </select>
</mapper>